*{
    padding: 0%;
    margin: 0%;
}

body{
    font-family: 'outfit',sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 15px;
}
.container{
    max-width: 360px;
    margin: 0 auto;
}
.card{
    background-color: hsl(0, 0%, 100%);
    padding: 18px;
    border-radius: 17px;
    text-align: center;
    margin: 0 1em;
}
.card img{
width: 100%;
border-radius: 12px;
}
.text{
    padding: 22px 10px;
    
}
.text h2{
    color:hsl(218, 44%, 22%) ;
    padding-bottom: 15px;
}
.text p{
color: hsl(220, 15%, 55%);
}